%nav.navbar.navbar-inverse#nitefalls-nav{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to "NiteFalls", root_path, class: "navbar-brand", id: 'nitefalls-nav-link'
  / Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right
      -if user_signed_in?
        %li
          = "Logged in as #{current_user.email}"
        %li= link_to 'Edit profile', edit_user_registration_path
        %li= link_to "Logout", destroy_user_session_path, method: :delete
      -else
        %li= link_to "Sign up", new_user_registration_path
        %li= link_to "Sign in", new_user_session_path
        %li= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter)
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Dropdown
          %b.caret
        %ul.dropdown-menu
          %li
            %a{href: "#"} Action
          %li
            %a{href: "#"} Another action
          %li
            %a{href: "#"} Something else here
          %li.divider
          %li
            %a{href: "#"} Separated link
  / /.navbar-collapse